html{
    box-sizing: border-box;
}

*,*:before,*:after{
    box-sizing:inherit;
}

body{
    margin: 0;
    background-color: #C5DCFA;
}

.container{
    padding:0.01em 16px;
}

.container:after,.container:before,.row-padding:after,.row-padding:before,
.bar:before,.bar:after{
    content:"";
    display:table;
    clear:both;
}

.content{
    margin-left:auto;
    margin-right:auto; 
    max-width:980px;
    
}

.sidebar{
    height:100%;
    width:200px;
    background-color:#E8F1FD;
    position:fixed!important;
    z-index:1;
    overflow:auto;
    
}

@media (min-width:993px){
    
    .hide-large{
        display:none!important;
    }
    .sidebar.collapse{
        display:block!important;
    }
}

@media (max-width:992px){
    .sidebar.collapse{
        display:none;
    }
    .main{
        margin-left:0!important;
        margin-right:0!important
    }
}

.button,
.button-nondisponibile{
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    white-space:nowrap;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.button{
    cursor:pointer;
}
    
.button:hover{
    color:#000!important;
    background-color:#ccc!important;
}

@media (min-width:993px){
    .hide-large{
        display:none!important;
    }
    .sidebar{
        display:block!important;
    }
}

.animate-opacity{
    animation:opac 0.8s;
}@keyframes opac{from{opacity:0} to{opacity:1}}


.main,#main{
    transition:margin-left .4s;
    
}

@media (max-width:992px){
    .sidebar.collapse{
        display:none;
    }
    .main{
        margin-left:0!important;
        margin-right:0!important;
    }
}

.row-info {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.about-class {
    float:left; 
    width:65%;
}

.contact-class {
    width:35%;
}

.margine{
    margin:16px!important;
}


.margine-right{
    margin-right:16px!important;
}

.row-padding,.row-padding>.third{
    padding:0 8px;
}

.padding-12{
    padding-top:12px;
    padding-bottom:12px;
}

.padding-16{
    padding-top:16px;
    padding-bottom:16px;
}

.padding-24{
    padding-top:24px;
    padding-bottom:24px;
}

.padding-32{
    padding-top:32px;
    padding-bottom:32px;
}

.third{
    float:left;
    width:100%
}
/* @media (min-width:601px){.third{width:33.33333%}}
da decommentrare per ordinare i contiatti in orizzontale*/

.img-class{
    text-align: center;
}

.button-div-class{
    text-align: right;
}

.button-class{
    margin-bottom: 5%;
    margin-top: 5%;
}

.contenitore-annuncio{
    background-color: white; 
    padding: 5px; 
    margin: 1.5%; 
    width:30%;
}

.right{
    float:right!important;
}

.overlay{
    position:fixed;
    display:none;
    width:100%;
    height:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,0.5);
    z-index:2;
}

.section{
    margin-top:16px!important;
    margin-bottom:16px!important;
}


.animate-left{
    position:relative;
    animation:animateleft 0.4s;
}
@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}

.bar{
    width:100%;
    overflow:hidden;
}

.center{
    text-align:center!important;
}

.center .bar{
    display:inline-block;
    width:auto;
}

.bar .bar-item{
    padding:8px 16px;
    float:left;
    width:auto;
    border:none;
    display:block;
    outline:0;
}

.bar .button{
    white-space:normal;
}
.bar-block .bar-item{
    width:100%;
    display:block;
    padding:8px 16px;
    text-align:left;
    border:none;
    white-space:normal;
    float:none;
    outline:0
}

.bar-block .center .bar-item{
    text-align:center;
}

.round{
    border-radius:4px;
}

.xlarge{
    font-size:24px!important;
}
.xxlarge{
    font-size:36px!important;
}

#FAQ{
    margin-left:25px;
}

.grafico-statistiche {
    width:600px;  
    height: auto; 
    align-content: center; 
    margin: 50px auto 20px auto;
}

#elenco-proposte{
        margin: auto;
    }
    
    .card-tutte-proposte {
      float: left;
      width: 47.5%;
      background-color: #C5DCFA;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      margin: 1em;
    }

    .card-tutte-proposte:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
    }

    .container-proposta-inviata,
    .container-proposta-ricevuta {
      padding: 2px 16px;
    }
    
    .card-proposta-inviata {
      float: left;
      width: 47%;      
    }
    
    .card-proposta-ricevuta,
    .card-proposta-inviata {
        background-color: #C5DCFA;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        margin: 1em;
} 

    .card-proposta-inviata:hover,
    .card-proposta-ricevuta:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
    }
    
    #bottone-vedi-tutte-proposte{ 
    color:#fff!important;
    padding: 5px 5px;
    text-decoration: none;
    text-align: center;    
    margin: 2em; 
    background-color:#A4C6F2;

}

#bottone-vedi-tutte-proposte:hover{
    color:#000!important;
    background-color:#8BB2FF;
}

.button-proposta{
    border:none;
    text-decoration: none;
    color: black;
    display:inline-block;
    padding:8px 16px;
    border-radius: 3px;
    vertical-align:middle;
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow:hidden;
    text-align:center;
    background-color:#A4C6F2!important;
}

.button-proposta:hover{
    color:#000!important;
    background-color: #8BB2FF!important;
}

.contenitore-contratto{
        margin-left: 300px;
        margin-right: 300px;
        margin-top: 30px;
        padding:50px;
        align-content: center;
        justify-content: center;
        border-radius: 10px;
        box-shadow: 10px 10px 8px 10px #f2f2f2;
    }
    
    
    .container-chat{
            width:1150px; 
            margin:auto;
        }
        
        .text-center{
            text-align:center;
        }
        
        .messaging { 
           height: 555px;
           border: 1px solid #cdcdcd;
           
        }
        
        img { 
            vertical-align:middle;
            border-style:none;
            max-width:100%;
        }
        
        .inbox_people {
            background:scroll;
            float: left;
            overflow: hidden;
            width: 36%; 
            border-right:1px solid #c4c4c4;
          }
          
        .inbox_msg {
          clear: both;
          overflow: hidden;
        }

        .inbox_chat {
            height: 555px; 
            overflow-y: scroll;
            border: 1px solid #c4c4c4;
        }
        
        .chat_people{ 
            overflow:hidden; 
            clear:both;
        }
        
        
        .chat_list {
          border-bottom: 1px solid #c4c4c4;
          margin: 0;
          padding: 18px 16px 10px;
        }
        
        .chat_list:hover{ 
            background-color: #f2f2f2;
            opacity: 0.8;
        }

        .chat_ib h5{ 
            font-size:15px; 
            color:#464646; 
            margin:0 0 8px 0;
        }
    
        .chat_img {
          float: left;
          width: 11%;
        }
        .chat_ib {
          float: left;
          padding: 0 0 0 15px;
          width: 80%;
        }
        
        .chat_ib p{ 
            font-size:14px; 
            color:#989898; 
            margin:auto;
        }
        
        .mesgs {
          float: left;
          padding: 30px 15px 0 25px;
          width: 60%;
        }

        .ancora-singolachat{
            text-decoration: none;
            color: black;
        }
        
        .ancora-singolachat:hover{
            color: gold;
        }
        
        #chatframe{
            margin-left: 15px;
            border: none;
            width:100%; 
            height: 500px;
            background-color: #F2FBFF;
        }
        
         .msg_history {
            margin: 0.5em;
            width: 600px;
            height: 420px;
            overflow-y: auto;
          }
          
        .received_msg {
            overflow:hidden; 
            margin: 5px 0 0 5px;
            display: inline-block;
            vertical-align: top;
            width: 60%;
           } 
           
        .received_withd_msg p {
                background: #2B9CDE none repeat scroll 0 0;
                border-radius: 3px;
                color: white;
                font-size: 14px;
                margin: 0;
                padding: 5px 10px 5px 12px;
                width: 100%;
          }
          
        .received_withd_msg { 
              width: 50%;
          }
          
        .time_date {
            color: #747474;
            display: block;
            font-size: 12px;
            margin: 8px 0 0;
          }
          
        .sent_msg {
          float: right;
          width: 60%;
        }
        
        .sent_msg p {
         background: #D9DDDF none repeat scroll 0 0;
         border-radius: 3px;
         font-size: 14px;
         margin: 0; 
         color:black;
         padding: 5px 10px 5px 12px;
         width:50%;
       }
        
       .outgoing_msg{ 
            overflow:hidden; 
            margin: 5px 0 0 0;
        }
        
        
        .input_msg_write input {
          background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
          border: medium none;
          color: #4c4c4c;
          font-size: 15px;
          min-height: 48px;
          width: 320px;
          
        }
        
        .type_msg {
            border-top: 1px solid #c4c4c4;
            position: relative;
            width: 600px;   
            margin-left: 1.5em;
        }
        
        #send-message{
            width: 80px;
            margin-left: 2px;
            display: inline-block;
        }
        
        #send-message:hover{
            opacity: 0.6;
        }
        
        .split2chat {
            margin-top: 0.5em;
            display: flex;
        }
        
        .split2chat input[type="text"] {
            width: 500px;
            background-color: whitesmoke;

        }
        
        .ourblue{
            color:black!important;
            background-color:#B5CAF5!important;
        }
        

/* Colori */
.teal{color:#fff!important;background-color:#009688!important}
.cadetblue{color:#fff!important;background-color:#5f9ea0}
.mediumturquoise{color:#fff!important;background-color:#48d1cc}
.white{color:#000!important;background-color:#fff!important}
.black,.hover-black:hover{color:#fff!important;background-color:#000!important}
.grey,.hover-grey:hover{color:#000!important;background-color:#9e9e9e!important}
.dark-grey{color:#fff!important;background-color:#616161!important}
.light-grey{color:#fff!important;background-color:#d3d3d3}
.light-teal{color:#fff!important;background-color:#009688!important}
.text-grey,.hover-text-grey:hover{color:#757575!important}
.text-light-grey{color:#f1f1f1!important}


