body{
    background-color: white!important;
}

.contenitore-form {
    overflow: hidden;
    border-radius: 30px;
    background-color: #f2f2f2;
    width: 760px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top:2%;
    padding: 10px; 
    display: flex;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.left{
    float: left;
}

.label {
  display: block;
  margin-bottom: 0.5em;
  margin-top: 1em;
  text-align: start;
}

.label-cerca {
  display: block;
  margin-bottom: 0.5em;
  text-align: start;
}

.input {
    border: 1px solid #000;
    height: 30px;
}

.input:focus{
  outline: 3px solid lightsteelblue;
}

.button-form{
    height: 3em;    
    width: 5em;
    border-radius: 4px;
} 

.contenitore-annunci {
    align-content: center;
    background: #94C7EE;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 10px;
    padding: 1em;
}


.catalogo-annunci {
    height: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

 
.annuncio{
    width: 320px;
    height: 445px;
    background-color: white;
    box-shadow: 10px 10px 8px 10px #B4E3FA;
    align-self: flex-start;
    margin: 2em;
    text-decoration: none;
    padding:0.01em 16px;
    border-radius: 10px;
}

.descrizione {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.descrizione2 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.annuncio a{
    text-decoration: none;
}



.button-class {
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 5%;
    height: 8%;
}
 

.img-class {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 15%;
}

.resize-img {
    max-width: 250px;
    height: 160px;
}


/* Colori */
.white{color:#000!important;background-color:#fff!important}
.black,.hover-black:hover{color:#fff!important;background-color:#000!important}
.ourblue{color:black!important;background-color:#B5CAF5!important;}
 

.paginate-class {
    clear: both;
    text-align: center;
    padding: 1em;
    display: flex;
}

 

.pagination {
    height: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    clear: both;
}

 

#pagination {
    display: inline-block;
}

 

#pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
#pagination #currentPage{
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bold;
}
#pagination a:hover {
    background-color: #B5CAF5;
    border-radius: 10px;
  }

 

#pagination #precedente:hover, #successivo:hover, #ultimo:hover, #pagination #ultimo:hover, #pagination #primo:hover{
    background-color: #B5CAF5;
    border-radius: 10px;
}


.annuncio-singolo {
    background-color: #DAE8F6;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}

/* Selettore necessario per allineare orizzontalmente lo slidershow e la descrizione dell'alloggio */
.flex-annuncio {  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}     
    
    
/* Position the image container (needed to position the left and right arrows) */
.container-annuncio {
  float: left;
  width: 500px;
  position: relative;
  margin: 2em;
}

/* Hide the images by default */
.mySlides {
  padding-top: 5px;
  display: none;
  width: 500px;
  height: 450px;
  background-color: white;
  text-align: center;
  overflow: hidden;
}

.resize-image-annuncio{
    width: auto;
    height: 450px;
}

.row-annuncio{
    padding-top: 5px; 
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Six columns side by side */
.column-annuncio{
  width: 50px;
  height: 50px;
  overflow: hidden;
  float:left;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.resize-thumbnail{
    width: auto;
    height: 50px;
}


.cards{
    width: 700px;
    background-color: white;
    margin: 2em;
    border-radius: 20px;
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

div.split3 div{
    float: left;
    width: 29%;
    width: 33%;
    width: 29%;
}

.split3{
    margin-top: 2em;
}

div.split2 div{
    float: left;
    width: 50%;
}

#prezzo, #periodo{
    background-color: white;
    margin: 2em;
    border-radius: 20px;
    padding: 2em;
    width: 180px;
}
#periodo{
    float: left;
}

.vincoli{
    clear: both;
    margin-top: 2em;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:300px;
    width:500px;
    text-align: center;
}


.chat-popup {
  display: none;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  right: 1em;
  border: 3px solid whitesmoke;
  margin: 0.5em;
}

/* Add styles to the form container */
.form-container {
  max-width: 350px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea,
.form-container text{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 150px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus,
.form-container text:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

#canoneProposto{
    width: 100px!important;
    float: left;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#close-div, 
#close{
    text-align: end;
}

#close-messaggio:hover,
#close-proposta:hover,
#close:hover{
    color: red;
    cursor: pointer;
}

#close{
    width: 10px;
    height: auto;
}

#invia-messaggio,
#invia-proposta {
    width: 100%;
}


h1-filtri{
    color:#000;
    font-weight: bold;
    text-align: center;
}

#h2-filtri{
    color:#000;
    font-weight: bold;
}



/* Float four columns side by side */
.column-card-filtri {
  float: left;
  width: 33%;
  padding: 0 10px;
  
}

/* Remove extra left and right margins, due to padding in columns */
.row-card-filtri{margin: 0 -5px;}

/* Clear floats after the columns */
.row-card-filtri:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card-filtri {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #B5CAF5;
  height: 125px;
}

.card-filtri:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.card-modificata-filtri {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  padding: 16px;
  text-align: center;
  background-color: #94C7EE;
  height: 125px;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column-card-filtri {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


#button-cerca{
    height: 30px;
    margin-top: 15px;
}

#filtri-button{
     margin-top: 10px;
     text-align: right;
     margin-right: 10px;
}

#filtri-button:hover{
    
    cursor: pointer;
}

#slider-range{
    color:yellow;
}
