* {
  box-sizing: border-box;
}

.wrapper {
  margin-top: 3em;
  background-color: #94C7EE;
}
.wrapper > * {
  padding: 2em;
}

.contain {
  max-width: 600px;
  background-color: #94C7EE;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

.row {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.left{
    float: left;
}

#tipologia{
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: 1px solid #000;
  padding: 1em ;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}


.form-annuncio {
    display: grid;
    gap: var(--formGap);
    background: #E8EBFF;
  }

.form-annuncio input[type="password"],
.form-annuncio input[type="text"],
.form-annuncio input[type="submit"],
.login input[type="select"],
.login input[type="file"],
.login input[type="date"]{
  inline-size: 100%;
}



.label {
  display: block;
  margin-bottom: 0.5em;
  margin-top: 1em;
  text-align: start;
}

.input-annuncio,
textarea {
  padding: 1em;
}

.input,
textarea {
  padding: 1em;
}

.button-annuncio{
    background-color: #94C7EE;
}

.button{
    background-color: #94C7EE;
}


@media (min-width: 600px) {
  .contain {
    padding: 0;
  }
}

.input-annuncio:focus,
textarea:focus,
#tipologia:focus{
  outline: 3px solid lightsteelblue;
}

.input-annuncio,
textarea, 
#image{
  width: 100%;
  border: 1px solid #000;
}

.input:focus,
textarea:focus,
#tipologia:focus{
  outline: 3px solid lightsteelblue;
}

.input,
textarea, 
#image{
  width: 100%;
  border: 1px solid #000;
}


.servizio{
    display: inline-block;
    margin-left: 4em;
}

.quantita{
    margin-left: 2em;
    border: 1px solid #000;
}


.quantity_container {
    display: flex;
}


.servizi{
    margin-right: 15px;
}

.errors {
	color: #f93d00;
        font-size: 12px;
        margin-top: 5px;
        margin-left: auto;
        margin-right: auto;
}
